<div id="bannerCarousel" class="carousel slide mb-4 shadow" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner rounded">
        <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block">
                <h3>Khám phá thế giới sách</h3>
                <p>Hàng ngàn đầu sách đang chờ bạn</p>
            </div>
            <img src="~/Content/images/banner2.jpg" class="d-block w-100" alt="Banner 1" style="height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
                <h3>Giảm giá 20%</h3>
                <p>Cho đơn hàng đầu tiên</p>
            </div>
            <img src="~/Content/images/banner1.jpg" class="d-block w-100" alt="Banner 2" style="height: 400px; object-fit:revert-layer">
        </div>
        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
                <h3>Sách mới mỗi tuần</h3>
                <p>Cập nhật liên tục</p>
            </div>
            <img src="/Content/images/banner3.jpg" class="d-block w-100" alt="Banner 3" style="height: 400px; object-fit: cover">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
